# Dependencies
node_modules/

# Build outputs
dist/

out/
release/
*.asar

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# Local env files
.env
.env.local
.env.*.local

# Editor / system files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
