:root {
  --font-main: "Inter", sans-serif;
  --font-size-base: 14px;
  --font-size-title: 18px;

  --color-primary: #107c10;
  --color-primary-hover: #15803d;
  --color-primary-bg: #e5f5e6;
  --color-text: #333;
  --color-subtext: #666;
  --color-white: #ffffff;
  --color-bg: #F0FFF4;
  --color-card-outline: #BBF7D0;        
  --color-card-glow: rgba(12, 104, 12, .42); 
}
